<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="RF/headRF">
<head>
    <meta charset="utf-8"/>
    <title> Formation</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"
    />
</head>
<body>
<p></p>
<div  class="container" layout:fragment="content">
    <div  class="container">



    </div>


    <div class="container">
        <h3>Détails d'une Formation</h3>

        <table class="table">
            <thead>
            <tr>
                <th>Titre Formation</th>


            </tr>

            </thead>
            <tbody>
            <tr th:each="c:${formation}">
                <h2> <td th:text="${c.nomFormation}" style="border:solid 2px blue;"></td></h2>

            </tr>

            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th>Categorie</th>


            </tr>

            </thead>
            <tbody>
            </tr>
            <tr th:each="c:${formation}">
                <td th:text="${c.categorieFormation.nomCategorie}"></td>
            </tr>

            </tbody>
        </table>




        <table class="table">
            <thead>
            <tr>
                <th>Centre de Formation</th>


            </tr>

            </thead>
            <tbody>
            </tr>

            <tr th:each="c:${formation}">
                <td th:text="${c.centreDeFormation.nomCentre}"></td>
            </tr>

            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th>Détail</th>


            </tr>

            </thead>
            <tbody>
            </tr>

            <center><tr th:each="c:${formation}">
                <td th:text="${c.description}"></td></center>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="container">
        <ul class="nav nav-pills">
            <li th:class="${pagecourante}==${status.index}?'active':''" th:each="page,status:${pages}">
                <a th:href="@{ListeFormation(page=${status.index},size=${size},motCle=${motCle})}" th:text="${status.index}">
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
