<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="RF/headRF">
<head>
    <meta charset="utf-8"/>
    <title> Formation</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"
    />
</head>
<body>
<p></p>
<div  class="container" layout:fragment="content">

    <div class="container" >
        <h3>Liste des Réservations des Collaborateurs:</h3>
        <table class="table">
            <!--  <thead>
                <tr>
                <th>Info</th><th>Ci </th>
                </tr>

            </thead>-->
            <tbody>
            <tr th:each="e:${ListReservation}">
                <td><strong>Collaborateur:</strong></td>
                <td th:text="${e.utilisateur.firstName}"></td>
                <td><strong>Date de création:</strong></td>
                <td th:text="${e.dateCreation}"></td>
                <td><strong>Etat:</strong></td>
                <td th:text="${e.Etat}"></td>
                <td><strong>Titre Formation:</strong></td>
                <td th:text="${e.formation.nomFormation}"></td>

                <td><a th:href="@{ConfirmationRF(idReservation=${e.id})}">Confirmer</a></td>
                <td><a th:href="@{AnnulationRF(idReservation=${e.id})}">Annuler</a></td>

            </tr>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="container">
        <ul class="nav nav-pills">
            <li th:class="${pagecourante}==${status.index}?'active':''" th:each="page,status:${pages}">
                <a th:href="@{GererReservationRF(page=${status.index},size=${size})}" th:text="${status.index}">
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
