<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="RF/headRF">
<head>
    <meta charset="utf-8"/>
    <title> Formation</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"
    />
</head>
<body>
<p></p>
<div  class="container" layout:fragment="content">



    <div class="container">
        <h3>Liste des Notification</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Notification</th><th>Marque comme lu</th>


            </tr>

            </thead>
            <tbody>
            <tr th:each="n:${Notification}">
            <tr th:each="Notif:${Notif}">
                <td th:text="${Notif}"></td>




                <td><a onclick="return confirm('êtes vous sûr de changer l'etat de votre notification!')" th:href="@{MarquerCommeLu(id=${n.id},idReservation=${n.reservation.id},idUser=${n.utilisateur.id},page=${pagecourante},size=${size})}">Marquer comme lu</a></td>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <ul class="nav nav-pills">
            <li th:class="${pagecourante}==${status.index}?'active':''" th:each="page,status:${pages}">
                <a th:href="@{NotificationRF(page=${status.index},size=${size})}" th:text="${status.index}">
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
